/* WooCommerce Product Features - Combos, Promotions, and Gifts */

/* Product Promotion */
.box-promotion-online img,
.box-promotion-off img,
.gift-item-cart .gift-image img {
    max-width: 100%;
    height: 100% !important;
    object-fit: cover;
    border-radius: 0.2604166667rem;
    width: 100%;
    padding: 0.2604166667rem !important;
    border: 1px solid #efefef;
}

.box-promotion-online p,
.box-promotion-off p,
.gift-item-cart p {
    font-size: 0.833333rem;
}

.box-promotion-online .gift-image,
.box-promotion-off .thumbnail-off,
.gift-item-cart .gift-image {
    padding-right: 0px;
    max-width: 100% !important;
    overflow: hidden;
    flex: 0 0 3.8rem;
    height: 3.8rem;
    background: transparent;
    margin-right: 0.5208333333rem;
    border: 0;
}

dl.variation {
    flex: 0 0 100%;
    width: 100%;
    border-radius: 0.2604166667rem;
    margin-top: 0.2604166667rem;
}

.wrap-quantity-price {
    margin-top: 0.5208333333rem;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

dl.variation dt {
    float: left;
    padding-right: 5px;
    font-weight: bold;
}

dl.variation .variation-Qutng,
dl.variation .variation-uithm,
dt.variation-Qutngdanhmc {
    font-size: 0.8333333333rem;
    font-weight: 500;
    margin-bottom: 0.5208333333rem;
}

dl.variation dd:last-child {
    margin-bottom: 0;
}

dl.variation .variation-Qutng {
    display: flex;
    flex-direction: column;
    gap: 0.2604166667rem;
}

.gift-item-cart .gift-image {
    flex: 0 0 3rem;
    height: 3rem;
}

.box-promotion-account-meta p {
    display: flex !important;
    font-size: 14px;
    color: #333333;
}

.box-promotion-account-meta p a {
    font-size: 14px;
    color: #333333 !important;
}

.box-promotion-account-meta p img {
    max-width: 100px;
    flex: 0 0 100px;
    padding-right: 10px;
}

/* Product Combo */
.section-product-combo .wrap-combo .inner-combo .product {
    width: 100%;
    max-width: 100%;
    height: auto;
    padding: 0;
}

.section-product-combo .wrap-combo .inner-combo {
    margin: 0;
}

.section-product-combo .wrap-combo .ait-btn-add-to-cart {
    flex: 1;
}

.ait-btn-add-to-cart button {
    padding: 0.5208333333rem 1.3020833333rem;
}

.section-product-combo .wrap-combo .ait-btn-add-to-cart .ait-total--wrap .save-price--wrap {
    text-align: center;
}

.section-product-combo .wrap-combo .ait-btn-add-to-cart .ait-total--wrap {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.section-product-combo .wrap-combo .ait-btn-add-to-cart .ait-total--wrap ins {
    font-size: 1.0416666667rem;
    text-decoration: none;
    font-weight: bold;
    color: var(--color-primary);
}

.section-product-combo .wrap-combo .ait-btn-add-to-cart .ait-total--wrap > p:not(.save-price--wrap) span {
    width: 100%;
}

.section-product-combo .wrap-combo .ait-btn-add-to-cart .ait-total--wrap > p:not(.save-price--wrap) {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    column-gap: 10px;
    row-gap: 5px;
    align-items: baseline;
}

.section-product-combo .wrap-combo .ait-btn-add-to-cart .ait-total--wrap p .ait-price-discount-save {
    font-weight: 500;
}

.section-product-combo .wrap-combo .ait-btn-add-to-cart .ait-total--wrap p .ait-label__bold {
    font-weight: bold;
    color: var(--color-primary);
}

.ait-btn-add-to-cart button {
    transition: 0.3s all ease-in-out;
}

.ait-btn-add-to-cart button:hover {
    background-color: var(--color-secondary);
    color: var(--color-primary);
}

.section-product-combo .wrap-combo {
    flex-wrap: wrap;
}

.section-product-combo .wrap-combo .inner-combo {
    flex: 0 0 100%;
    max-width: 100%;
    padding-bottom: 10px;
    overflow: auto;
    gap: 1.0416666667rem;
}

@media (max-width: 1023.98px) {
    .section-product-combo .wrap-combo .ait-btn-add-to-cart {
        max-width: 300px;
        margin: 0 auto;
        margin-top: 20px;
    }
}

@media (max-width: 767.98px) {
    .section-product-combo {
        padding: 0px 15px;
        margin-top: 20px;
    }

    .section-product-combo .container {
        background-color: #fff;
        padding: 15px;
    }

    .section-product-combo .wrap-combo .ait-btn-add-to-cart {
        margin-top: 10px;
    }

    .section-product-combo .wrap-combo .inner-combo {
        padding-bottom: 10px;
    }

    .section-product-combo .wrap-combo .inner-combo > .product {
        flex: 0 0 50%;
        max-width: 50%;
    }
}

@media (min-width: 768px) {
    .section-product-combo {
        background-color: #fff;
        padding: 2.0833333333rem;
    }
}

@media (min-width: 1024px) {
    .section-product-combo {
        margin-top: 2.0833333333rem;
    }

    .section-product-combo .wrap-combo .inner-combo {
        display: grid;
        flex: 0 0 75%;
        max-width: 75%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 1.0416666667rem;
    }

    .section-product-combo .wrap-combo {
        gap: 1.0416666667rem;
    }
}

@media (min-width: 1280px) {
    .section-product-combo .wrap-combo .inner-combo {
        flex: 0 0 80%;
        max-width: 80%;
    }
}

/* Product Gift */
.box-product-promotion hr {
    display: none;
}

.gift-selection [class*="box-promotion"] {
    display: flex;
    flex-direction: column;
}

.gift-selection [class*="box-promotion"] .gift-option {
    padding: 0.5208333333rem 0;
    border-bottom: 1px solid var(--color-gray-f1);
}

.gift-selection [class*="box-promotion"] .gift-option label,
.gift-selection [class*="box-promotion"] .gift-option {
    display: flex;
}

.gift-selection [class*="box-promotion"] .gift-option img {
    width: 3.6458333333rem;
    margin-left: 0.5208333333rem;
    display: inline-block;
    margin-right: 0.5208333333rem;
    height: 3.6458333333rem;
}

.gift-selection [class*="box-promotion"] .gift-option input:checked ~ label::before {
    background-image: url(../img/circle-check.svg);
}

.gift-selection [class*="box-promotion"] .gift-option input {
    display: none;
}

.gift-selection [class*="box-promotion"] .gift-option {
    font-size: 0.8333333333rem;
}

.gift-selection [class*="box-promotion"] .gift-option label::before {
    display: inline-block;
    flex-shrink: 0;
    background-image: url(../img/circle.svg);
    margin: auto 0;
    background-size: 100% 100%;
    width: 0.83333rem;
    height: 0.83333rem;
    content: "";
}

.gift-selection [class*="box-promotion"] .gift-option label {
    font-size: 0.8333333333rem;
}

.wrap-total-point .point-item {
    max-width: 33.33333%;
    flex: 0 0 33.33333%;
    background: #f9f9f9;
    padding: 15px;
    border-radius: 15px;
    text-align: center;
    min-height: 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.wrap-total-point {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.wrap-total-point .point-item p.point {
    color: green;
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 0;
}
