.logo-brands {
    position: absolute;
    height: 60px;
    top: 20px;
    right: 20px;
    z-index: 5;
}
.logo-brands img{
    height: 100%;
    width: 100%;
}
.banner-prd-main {
    position: relative;
}

.search-custom {
    display: contents;
}
.header-language-active a.has-dropdown::after {
    display: inline-block; 
}
.header-language-active a::after {
    display: none; 
}
.admin-bar header.header {
    position: fixed; 
    top: 32px !important; 
    width: 100%; 
}
.admin-bar .menu-mobile {
    top: 32px !important; 
}
.global-breadcrumb p span.separator {
    font-size: clamp(14px,.72917rem,.72917rem) !important;
}
header .header-child .header-menu>ul>li.current-menu-item>a,
header .header-child .header-menu>ul>li.current_page_item>a,
header .header-child .header-menu>ul>li.current-menu-ancestor>a{
    --tw-bg-opacity: 1;
    --tw-text-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
    color: rgb(176 0 31 / var(--tw-text-opacity));
}
@media screen and (max-width: 782px) {
    .admin-bar header.header,
    .admin-bar .menu-mobile {
        top: 46px !important; 
    }
}
@media screen and (min-width: 1024px) {
    .logo-brands {
    height: 80px;
}
}