.logo-brands {
    position: absolute;
    height: 60px;
    top: 20px;
    right: 20px;
    z-index: 10;
}
.logo-brands img{
    height: 100%;
    width: 100%;
}
.banner-prd-main {
    position: relative;
}

.search-custom {
    display: contents;
}
@media screen and (min-width: 1024px) {
    .logo-brands {
    height: 80px;
}
}